body {
  margin: 0;
  background: #02040a;
  font-family: Consolas, monospace;
  color: #18ff6d;
}

/* MATRIX ANIMATION */
.matrix-bg {
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(24,255,109,0.15),
    rgba(24,255,109,0.15) 1px,
    transparent 2px,
    transparent 20px
  );
  animation: matrix 1s linear infinite;
  z-index:-1;
}

@keyframes matrix {
  from { background-position-y: 0; }
  to { background-position-y: 20px; }
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #18ff6d;
}

.container {
  display: flex;
  height: 90vh;
}

.city {
  flex: 2;
  position: relative;
  border-right: 1px solid #18ff6d;
}

/* CYBER AGENT */
.agent {
  width: 20px;
  height: 30px;
  background: #18ff6d;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 0 20px #18ff6d;
}

/* BUILDINGS */
.building {
  position: absolute;
  padding: 10px;
  border: 1px solid #18ff6d;
  cursor: pointer;
  transition: 0.3s;
}

.building:hover {
  background:#18ff6d;
  color:black;
  transform: scale(1.05);
  box-shadow:0 0 20px #18ff6d;
}

/* TERMINAL */
.terminal {
  flex: 1;
  padding: 15px;
  background:#010208;
  border-left:1px solid #18ff6d;
  animation: scan 3s infinite linear;
}

@keyframes scan {
  0% { box-shadow: inset 0 0 10px #18ff6d; }
  50% { box-shadow: inset 0 0 25px #18ff6d; }
  100% { box-shadow: inset 0 0 10px #18ff6d; }
}

/* LOGIN */
.login-overlay {
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  align-items:center;
  justify-content:center;
}

.login-panel {
  border:1px solid #18ff6d;
  padding:20px;
  text-align:center;
}
