.main-wrapper {
  display: flex;
  height: 100vh;
}

.city {
  flex: 2;
  position: relative;
  background: black;
  border-right: 1px solid #18ff6d;
  overflow: hidden;
}

.terminal {
  flex: 1;
  background: #010208;
  padding: 20px;
  color: #18ff6d;
  font-size: 14px;
}
